*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.form-section{
    width: 40%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.img-section{
    width: 60%;
    background-color: rgb(60, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-section img{
    width: 500px;
}

.form-section img{
    width: 280px;
}
.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.form-item label{
    color: white;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 220px;
}
.form-item input{
    width: 320px;
    height: 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
}

.form-item button{
    width: 320px;
    height: 40px;
    background-color: rgb(53, 119, 161);
    margin-top: 20px;
    border: none;
    font-size: 20px;
}
.form-item a{
    color: rgb(76, 141, 197);
    margin-top: 15px;
}
.form-item button:last-child{
    background-color: gray;
}
hr{
    width: 300px;
    height: 1px;
    margin-top: 20px;
}
p{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
span{
    margin-top: 10px;
}

.btn{
    background-color: gray;
}



/* meadia query */
/* for tab device */

@media (max-width:768px){
    .form-section{
        width: 100%;
    }
    .img-section{
        display: none;
    }





}

/* for mobile device */
@media (max-width:480px) {

.form-section{
    width: 100%;

}
.img-section{
    display: none;
}
    
}